PORT = 5500

DB_URI = connection string

JWT_ACCESS_SECRET = a long random string
JWT_ACCESS_EXPIRES_IN = 15m

REFRESH_TOKEN_EXPIRES_DAYS = 7

EMAIL_USER = email adress
EMAIL_PASSWORD = eamil app password
CLIENT_URL = client url

NODE_ENV = development